<ion-view view-title="Home">
    <ion-content>
        <ion-list class="item item-list">
            <h3>You are on...<span ng-show="vm.deviceSupport">{{vm.deviceSupport}}</span></h3>
            <ul>
                <li>Cordova: {{vm.cordova}}</li>
                <li>Model: {{vm.model}}</li>
                <li>Platform: {{vm.platform}}</li>
                <li>UUID: {{vm.uuid}}</li>
                <li>Version: {{vm.version}}</li>
            </ul>
        </ion-list>
        <ion-list class="item item-list">
            <h3>{{vm.adSupport}}</h3>
        </ion-list>
    </ion-content>
</ion-view>
